<a href="https://github.com/kinlane/subway-maps/tree/gh-pages"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
<div id="wrapper">
    
     <div id="header" class="col-full">
        <div id="logo"><a href="http://apievangelist.com" title=""><img src="http://kinlane-productions.s3.amazonaws.com/api-evangelist/api-evangelist-logo-400.png"></a></div> 
        
    </div>
    
    <div id="navigation" class="col-full">

        <ul id="main-nav" class="nav fl">
            <li class="{% if page.title == 'Subway Maps' %}page_item current_page_item{% else %}page_item page-item-2{% endif %}"><a href="/index.html" title="Home">Home</a></li>
            <li class="{% if page.title == 'Subway Map API' %}page_item current_page_item{% else %}page_item page-item-2{% endif %}"><a href="/api.html" title="API">API</a></li>
            <li class="{% if page.title == 'Subway Map - API Lifecycle' %}page_item current_page_item{% else %}page_item page-item-2{% endif %}"><a href="/lifecycle.html" title="Lifecycle" target="_blank">Lifecycle</a></li>
            <li class="{% if page.title == 'Subway Map - Example 1' %}page_item current_page_item{% else %}page_item page-item-2{% endif %}"><a href="/example-1.html" title="Example 1" target="_blank">Example 1</a></li>
            <li class="{% if page.title == 'Subway Map - Example 2' %}page_item current_page_item{% else %}page_item page-item-2{% endif %}"><a href="/example-2.html" title="Example 2" target="_blank">Example 2</a></li>
            <li class="{% if page.title == 'About Subway Maps' %}page_item current_page_item{% else %}page_item page-item-2{% endif %}"><a href="/about.html" title="About">About</a></li>
        </ul>
        
        <ul class="rss fr">
            
            <li class="sub-rss" style="padding-top: 5px;">         
                <a href="http://apievangelist.com" title="Home" style="color:#000;">Return to API Evangelist >></a>
            </li>          
        </ul>

    </div>

    <div id="content" class="col-full">

        <div id="main-sidebar-container">

            <!-- #main Starts -->
            <div id="main">      
                                
                <!-- Post Starts -->
                <div class="post-1 post type-post hentry category-api-marketplace category-uncategorized"> 